/*
 * Copyright (c) 2024 InMys
 */
 
/*
 SH_PX30_BASE_V3.pdf + SOM_PX30_V1.pdf
*/

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/input.h>
#include "px30-inmys-som-hh.dtsi"

/ {
	model = "px30 smarthome_tablet_v3";
	compatible = "inmys,px30-sh-tablet-v3", "rockchip,px30";

	chosen {
		stdout-path = "serial3:115200n8";
	};
	aliases {
		ethernet0 = &gmac;
		rtc0 = &spirtc;
		rtc1 = &rk817;

		mmc0 = &sdmmc; // sdcard
		mmc1 = &sdio;  // wifi
		mmc2 = &emmc;
	};

	/* SH_PX30_TABLET pwr */
	vbus: vbusv {
		compatible = "regulator-fixed";
		regulator-name = "vbus";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk817 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <10>;
	};

	leds{
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_gpio &zgb_reset_pin>;
		cpu_led {
			label = "cpu_led";
			gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		ZGB_BOOTMODE { // CPU_BOOTMODE in sch
			gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
#if 0
		/* disabled, confict with openocd(use gpio) */
		ZGB_RESET {
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
#endif
	};
};

&display_subsystem {
	status = "okay";
};

/{
	lcd_pwrena: lcd_pwrena {
		compatible = "regulator-fixed";
		regulator-name = "lcd_pwrena";
		regulator-min-microvolt = <15500000>;
		regulator-max-microvolt = <15500000>;
		vin-supply = <&vbus>;
		gpio = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
		
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 25000 0>;
		//default-brightness-level = <100>;
		power-supply = <&lcd_pwrena>;
	};
};

&dsi {
	status = "okay";
	panel@0 {
		//compatible = "bananapi,lhr050h41";
		compatible = "feixin,k101-im2byl02";

		// Dot pitch: 117.75*117.75 (800x1280)
		width-mm = <151>;
		height-mm = <94>;
		rotation = <90>;

		reg = <0>;
		power-supply = <&vcc_3v0>;
		reset-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>;
		backlight = <&backlight>;
		status = "okay";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
	
};

&dsi_dphy {
	status = "okay";
};


&gmac {
	status = "okay";
	
	phy-supply = <&vcc_3v0>;
	clock_in_out = "output";
	snps,reset-gpio = <&gpio2 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 50000 50000>;
	status = "okay";

	tx_delay = <0x30>;
	rx_delay = <0x10>;
#if 0
	phy-handle = <&yt8512>;
	yt8512: ethernet-phy@0{
		reg = <0>;
		reset-assert-us = <50000>;
		reset-deassert-us = <50000>;
		reset-gpios = <&gpio2 RK_PB7 GPIO_ACTIVE_LOW>;
		compatible = "ethernet-phy-ieee802.3-c22";
	};
#endif
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	gt9xx@14 {
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		status = "okay";
		interrupt-parent = <&gpio0>;
		interrupts = <5 0x2800>;
		reset-gpios = <&gpio0 RK_PB4 0x0>;
		irq-gpios = <&gpio0 5 0x2800>;
		irq-flags = <2>;
		touchscreen-max-id = <11>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <1280>;
		touchscreen-max-w = <512>;
		touchscreen-max-p = <512>;
		
		goodix,slide-wakeup = <0>;
		goodix,type-a-report = <0>;
		goodix,driver-send-cfg = <0>;
		goodix,resume-in-workqueue = <0>;
		goodix,int-sync = <1>;
		goodix,swap-x2y = <0>;
		goodix,esd-protect = <1>;
		goodix,auto-update-cfg = <0>;
		goodix,power-off-sleep = <0>;
		goodix,pen-suppress-finger = <0>;
		goodix,cfg-group0 = [
			53 D0 02 00 05 05 F5 D5 21 48 2D 0F 5A 41 0E 05 00 00 32 32 20 00 05 14 14 1A 14 8B 2B 00
		];
	};
};

&pwm2 {
	status = "okay";
};


/* sdcard */
&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	supports-sd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	cd-gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_LOW>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v0>;
	vqmmc-supply = <&vcc_3v0>;
	status = "okay";
};

/* wifi */
&sdio {
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	//pinctrl-names = "default";
	//pinctrl-0 = <&sdio_bus4 &sdio_cmd &sdio_clk>;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v0>;
	vqmmc-supply = <&vccio_sdio>;
	status = "okay";
	wifi@1 {
		compatible = "brcm,bcm43455-fmac";
		reg = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB2 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
		//pinctrl-names = "default";
		//pinctrl-0 = <&wifi_host_wake_h>;
	};
};


#if 0
// conflict with wifi/bluetooth wakeup
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>;
	status = "okay";
};
#endif

&uart1 {
	/*bluetooth*/
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_xfer &uart1_cts &uart1_rts>;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4345c5";
		clocks = <&rk817 1>;
		clock-names = "lpo";
		device-wakeup-gpios = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>; //HOST_WAKE_BT_H
		host-wakeup-gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>; //BT_WAKE_HOST_H
		//reset-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>; //BT_REG_ON_H
		shutdown-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>; //BT_REG_ON_H
		vbat-supply = <&vcc_3v0>;
		vddio-supply = <&vccio_sdio>;
		/*max-speed = <115200>;*/
	};
};

&uart2 {
	/* RS485 */
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m1_xfer>;
	status = "okay";
	rts-gpios = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>; // rts used for txen in rs485 mode
	//rs485-rts-delay = <0 200>;
	linux,rs485-enabled-at-boot-time;
};

&uart3{
	/* console */
        pinctrl-names = "default";
        pinctrl-0 = <&uart3m1_xfer>;
        status = "okay";
};

&uart5 {
	/* zigbee */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_xfer>;
};


&u2phy {
	status = "okay";
	u2phy_otg: otg-port {
		status = "okay";
	};
};

&usb20_otg {
	status = "disabled";
};

&usb_host0_ehci {
	status = "disabled";
};

&usb_host0_ohci {
	status = "disabled";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "disabled";
};

&vopl_mmu {
	status = "disabled";
};

&gpio0 {
	gpio-line-names = 
		"","HOST_WAKE_BT","WIFI_REG_ON","","SDMMC0_DET","TP_INT","","",
		"","","WIFI_WAKE_HOST","BT_WAKE_HOST","TP_RST","","","",
		"","","","","","","","",
		"","","","","","","","";
};

&gpio2 {
	gpio-line-names =
		"","","","","","","","",
		"BT_REG_ON","","","","","","","",
		"","","","","","","","",
		"","","","","","","","";
};

&gpio3 {
	gpio-line-names = 
		"","","","","EXT_SIGNAL","","CPU_BOOTMODE","",
		"","","LCD_PWRENA","","","","","",
		"","","LCD_RESET","","","","","JTAG_TDI",
		"JTAG_TDO","TCK","TMS","ZGB_RST","","","","";
};

&spi1 {
	status = "okay";
	pinctrl-names = "default", "high_speed";
	//pinctrl-0 = <&spi1_clk &spi1_csn0 &spi1_miso &spi1_mosi>;
	//pinctrl-1 = <&spi1_clk_hs &spi1_csn0 &spi1_miso_hs &spi1_mosi_hs>;
	pinctrl-0 = <&spi1_clk &spi1_miso &spi1_mosi>;
	pinctrl-1 = <&spi1_clk_hs &spi1_miso_hs &spi1_mosi_hs>;
	num-cs = <1>;
	cs-gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
#if 1
	spirtc: spirtc@0 {
		compatible = "maxim,ds1302";
		reg = <0>;
		spi-max-frequency = <700000>;
		/*spi-3wire;*/
		spi-lsb-first;
		spi-cs-high;
	};
#else
	spidev@0{
		/* compatible = "linux,spidev"; */
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <700000>;
		/*spi-3wire;*/
		spi-lsb-first;
		spi-cs-high;
	};
#endif
};


&pinctrl {
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = 
				<0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	wlan {
		wifi_host_wake: wifi-host-wake{
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	led{
		zgb_reset_pin: zgb-reset-pin{
			rockchip,pins =
				<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>; // pull_up => no reset on zgb

		};
	};
};

/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
