// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 InMys Limited
 *
 */

/dts-v1/;

#include "rk3588-inmys-cs_v2.dtsi"

/ {
	model = "NMS-CS-EVM with NMS-CS-RK3588";
	compatible = "inmys,rk3588-cs-evm", "inmys,rk3588-inmys-cs", "rockchip,rk3588";

	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};
	smarc_vdd_in: smarc-vdd-in {
		/* 3.0...5.25V main power input for som(from mother board) */
		compatible = "regulator-fixed";
		regulator-name = "SMARC_VDD_IN";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};
};



/* SMARC: I2C_GP */
&I2C_GP {
	i2cgpio: pca9535@20 {
		compatible = "nxp,pca9535";
		vcc-supply = <&V3P3>;
		reg = <0x20>;

		/* I2C_INT -> P111 (SMARTC  GPIO.3) -> gpio2_b4 */
		interrupt-parent = <&gpio2>;
		interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names =
			"DSI0_TP_RST_N","DSI1_TP_RST_N","DSI0_RST_N","DSI1_RST_N","CAM0_PWDN","I2C_GPIO05","I2C_GPIO06","I2C_GPIO07",
			"I2C_GPIO10","I2C_GPIO11","I2C_GPIO12","I2C_GPIO13","I2C_GPIO14","I2C_GPIO15","I2C_GPIO16","I2C_GPIO17";
		cam_pwd {
		        gpio-hog;
		        gpios = <4 GPIO_ACTIVE_HIGH>;
		        output-high;
		};
	};
	eeprom: 24aa025e48@50{
		compatible = "atmel,24c256";
		reg = <0x50>;
	};
	/* one of: 0x2c or 0x2e on board */
        /* fan control */
	u19: adt7473@2c {
		compatible = "adi,adt7473";
		reg = <0x2c>;
		adi,bypass-attenuator-in0 = <1>;
		adi,bypass-attenuator-in1 = <1>;
		adi,bypass-attenuator-in2 = <1>;
		adi,bypass-attenuator-in3 = <1>;
		adi,pwm-active-state = <1 1 1>;
	};
        /* fan control2*/
	u19a: adt7473@2e {
		compatible = "adi,adt7473";
		reg = <0x2e>;
		adi,bypass-attenuator-in0 = <1>;
		adi,bypass-attenuator-in1 = <1>;
		adi,bypass-attenuator-in2 = <1>;
		adi,bypass-attenuator-in3 = <1>;
		adi,pwm-active-state = <1 1 1>;
	};

	i2cmux: pca9546a@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		vcc-supply = <&V3P3>;
		vcc-pullup-supply = <&V3P3>;
 
		/* gpio1_c4 -> P108 (SMARC GPIO.0) -> I2C_MUX_RST */
		reset-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		
		i2c@0 { /*I2C_DSI1 -> to X25*/
			reg = <0>;
			#address-cells = <1>; 
			#size-cells = <0>;
		};
		i2c@1 { /*I2C_DSI0 -> to X24*/
			reg = <0>;
			#address-cells = <1>; 
			#size-cells = <0>;
		};
		i2c@2 { /*I2C_GP_A -> to X32*/
			reg = <0>;
			#address-cells = <1>; 
			#size-cells = <0>;
		};
		i2c@3 { /*I2C_MPCI -> to minipcie connector*/
			reg = <0>;
			#address-cells = <1>; 
			#size-cells = <0>;
		};
		
	};
};

