CONFIG_VIDEO_IMX219=m
CONFIG_VIDEO_OV5647=m
CONFIG_VIDEO_OV5640=m
CONFIG_GPIO_AW9523=n
CONFIG_VIDEO_SC3336=m
CONFIG_PHY_ROCKCHIP_CSI2_DPHY=y
CONFIG_ROCKCHIP_DW_MIPI_DSI=y
CONFIG_VIDEO_ROCKCHIP_ISP_VERSION_V32=y
CONFIG_PHY_ROCKCHIP_MIPI_RX=m
CONFIG_VIDEO_ROCKCHIP_ISP=m
CONFIG_BCMDHD_FW_PATH="/vendor/etc/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/vendor/etc/firmware/nvram.txt"
CONFIG_WLAN=y
CONFIG_WLAN_VENDOR_BROADCOM=y
CONFIG_BRCMUTIL=m
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_PROTO_BCDC=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_WL_ROCKCHIP=m
CONFIG_WIFI_BUILD_MODULE=y
CONFIG_AP6XXX=m
CONFIG_SUSPEND=y
CONFIG_BCMDHD_FW_PATH="/lib/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/lib/firmware/nvram.txt"
#CONFIG_BCMDHD=y
CONFIG_BRCM_TRACING=y
CONFIG_BRCMDBG=y
CONFIG_RTC_BL5372=m
CONFIG_GPIO_AW9523=m
